<h1>Porf's Page for Problem 2</h1>

<div>
	<p>I am here just working on learning ruby and making things work using some ERB.</p>
</div>

<div>
	<p>In this section I will be making an array of my pets names and then I will cycle through them with a 
		Collections.each loop and pring out an output saying that I love them.
	</p>

	<p>I will be using an unorder list to print out the list of the animals, etc.</p>

	<h3>Porf's Animals</h3>
	<ul>
		<% pets = ["moomoo", "batman", "gadget"] %>
		<% pets.each do |pet| %>
		<li><%= "I love #{pet} very much!" %></li>
		<% end %>
	</ul>

	<h5>Hope you enjoyed the page, peace!</h5>

